<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="https://ticket.umemoto.org/20250329/widget/v1.css" crossorigin>
<script type="text/javascript" src="https://ticket.umemoto.org/widget/v1.ja.js" async crossorigin></script>
    {% if page.custom_meta %}
        {{ page.custom_meta }}
    {% endif %}
</head>
<body>
    {{ content }}
</body>
</html>
